@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

:root {
    /* Variaveis Globais */

    /* html */

    /* 62.5% = 10px */
    /* 75% = 12px  */
    /* 93.75 = 15px */

    --font-size-html: 62.5%;

    /* Variaveis Globais */

    /* Variáveis profile */

    /* body */
    --background-color-body: #E9ECEF;

    /* header */
    --background-color-header: #ffffff;
    --font-color-header: #673ab7;
    --font-color-header-btncadastro: #ffffff;
    --background-color-header-btncadastro: #673ab7;
    --background-color-header-btncadastro-hover: #522e93;

    /* Formulário */
    --background-color-form: #F8F9FA;
    --font-color-p: #212529;
    --font-size-p: 2rem;
    --font-color-h2: #212529;
    --font-size-h2: 3rem;
    --font-color-form-p: #212529;
    --font-size-form-p: 2.25rem;

    /* Label */

    --font-size-label: 1.5rem;
    --font-color-label: #212529;

    /* Input */
    --background-color-input: #DEE2E6;
    --font-size-input: 1.5rem;
    --font-color-input: #212529;
    --font-color-input-focus: #673ab7;
    --font-color-input-placeholder: #495057;
    --font-size-input-focus: 1.5rem;
    --outline-input-focus: 1px solid #673ab7;
    --font-size-input-placeholder: 1.5rem;
    --font-color-h1: #673ab7;

    /* Botão */
    --background-color-button: #673ab7;
    --background-color-button-hover: #522e93;
    --font-color-button: #ffffff;
    --font-size-button: 2rem;

    /* Variáveis profile */
}

html {
    font-size: var(--font-size-html);
}

body {
    background-color: var(--background-color-body);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--background-color-header);
    position: sticky;
    top: 0;
    z-index: 100;
    transition: 0.5s;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    }

    & .interface {
        max-width: 128rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 7rem;

        & .logo {
            display: flex;
            align-items: center;
            justify-content: center;

            & img {
                width: 15rem;
                height: 5rem;
            }
        }

        .links {
            display: flex;
            align-content: center;
            justify-content: center;
            height: 7rem;

            & a {
                text-decoration: none;
                color: var(--font-color-header);
                font-size: 2rem;
                padding: 0rem 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.5s;
                font-family: "Oswald", sans-serif;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
                height: 100%;
            }

            & .btn-cadastro {
                background-color: var(--background-color-header-btncadastro);
                color: var(--font-color-header-btncadastro);

                &:hover {
                    background-color: var(--background-color-header-btncadastro-hover);
                }
            }

        }
    }
}

main {
    background-color: var(--background-color-body);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 7rem);

    & .interface {
        max-width: 128rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;

        & .informacoes {
            width: 100%;

            & h2 {
                font-family: "Oswald", sans-serif;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
                color: var(--font-color-h2);
                font-size: var(--font-size-h2);
                margin: 1rem 0;
            }

            & p {
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: var(--font-size-p);
                color: var(--font-color-p);
                padding: 0.2rem;
            }
        }

        & .container {
            width: 100%;
            height: 50 rem;
            background-color: var(--background-color-form);
            border-radius: 7px;
            overflow: hidden;
            display: flex;
            align-items: center;
            flex-direction: column;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
            padding: 1.5rem;
            justify-content: center;

            & .container-nome {
                width: 100%;
                background-color: red;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & .info {
                    display: flex;
                    align-content: center;
                    justify-content: center;

                    & .info2 {
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        flex-direction: column;
                    }
                }
            }

            & .container-email {
                width: 100%;
                background-color: red;

                & .container-info {}

                & .container-button {}
            }
        }
    }
}