@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

:root {
    /* Variaveis Globais */

    /* html */

    /* 62.5% = 10px */
    /* 75% = 12px  */
    /* 93.75 = 15px */

    --font-size-html: 62.5%;

    /* Variaveis Globais */

    /* Variáveis Sign-up */

    /* Body */
    --background-color-signup-body: #DEE2E6;

    /* Formulário */
    --background-color-signup-form: #F8F9FA;
    --font-color-signup-form-p: #212529;
    --font-size-signup-form-p: 2.25rem;

    /* Label */
    --font-size-signup-label: 1.5rem;
    --font-color-signup-label: #212529;

    /* Input */
    --background-color-signup-input: #DEE2E6;
    --font-size-signup-input: 1.5rem;
    --font-color-signup-input: #212529;
    --font-color-signup-input-focus: #673ab7;
    --font-color-signup-input-placeholder: #495057;
    --font-size-signup-input-focus: 1.5rem;
    --outline-signup-input-focus: 1px solid #673ab7;
    --font-size-signup-input-placeholder: 1.5rem;

    /* Botão */
    --background-color-signup-button: #673ab7;
    --background-color-signup-button-hover: #522e93;
    --font-color-signup-button: #ffffff;
    --font-size-signup-button: 1.7rem;

    /* links-group */
    --font-size-linkgroup: 1.5rem;
    --font-color-link-linkgroup: #673ab7;

    /* Variáveis Sign-up */
}

html {
    font-size: var(--font-size-html);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background-color-signup-body);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    & form {
        width: 40rem;
        height: 50rem;
        background-color: var(--background-color-signup-form);
        border-radius: 7px;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        justify-content: center;

        & p {
            font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            color: var(--font-color-signup-form-p);
            font-size: var(--font-size-signup-form-p);
            margin: 1rem 0;
        }

        & .form-group {
            width: 35rem;
            padding: 1rem;
            display: flex;
            align-items: baseline;
            flex-direction: column;

            & label {
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: var(--font-size-signup-label);
                color: var(--font-color-signup-label);
                padding: 0.2rem;
            }

            & input {
                width: 95%;
                padding: 0.9rem 0.9rem 0.7rem 0.9rem;
                border: none;
                border-radius: 5px;
                background-color: var(--background-color-signup-input);
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: var(--font-size-signup-input);
                color: var(--font-color-signup-input);

                &::placeholder {
                    font-family: "Inter", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-style: normal;
                    font-size: var(--font-size-signup-input-placeholder);
                    color: var(--font-color-signup-input-placeholder);
                }

                &:focus {
                    font-family: "Inter", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-style: normal;
                    outline: var(--outline-signup-input-focus);
                    color: var(--font-color-signup-input-focus);
                    font-size: var(--font-size-signup-input-focus);
                }
            }
        }

        & button {
            font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-size: var(--font-size-signup-button);
            padding: 1rem 5rem;
            border-radius: 5px;
            border: none;
            color: var(--font-color-signup-button);
            background-color: var(--background-color-signup-button);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            margin-top: 2rem;
            transition: 0.7s;

            &:hover {
                background-color: var(--background-color-signup-button-hover);
            }
        }

        .links-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            & p {
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: var(--font-size-linkgroup);
                text-align: center;
                margin: 1rem 0rem 0rem 0rem;

                & a {
                    text-decoration: none;
                    color: var(--font-color-link-linkgroup);
                }
            }
        }
    }
}