@import url('variaveis.css');

* {
    /* outline: 1px solid red; */
}

html {
    font-size: var(--font-size-html);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background-color-signin-body);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    & form {
        width: 40rem;
        height: 40rem;
        background-color: var(--background-color-signin-form);
        border-radius: 7px;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        justify-content: center;

        & p {
            font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            color: var(--font-color-signin-form-p);
            font-size: var(--font-size-signin-form-p);
            margin: 1rem 0;
        }

        & .form-group {
            width: 35rem;
            padding: 1rem;
            display: flex;
            align-items: baseline;
            flex-direction: column;

            & label {
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: var(--font-size-signin-label);
                color: var(--font-color-signin-label);
                padding: 0.2rem;
            }

            & input {
                width: 95%;
                padding: 0.9rem 0.9rem 0.7rem 0.9rem;
                border: none;
                border-radius: 5px;
                background-color: var(--background-color-signin-input);
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: var(--font-size-signin-input);
                color: var(--font-color-signin-input);

                &::placeholder {
                    font-family: "Inter", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-style: normal;
                    font-size: var(--font-size-signin-input-placeholder);
                    color: var(--font-color-signin-input-placeholder);
                }

                &:focus {
                    font-family: "Inter", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-style: normal;
                    outline: var(--outline-signin-input-focus);
                    color: var(--font-color-signin-input-focus);
                    font-size: var(--font-size-signin-input-focus);
                }
            }
        }

        & button {
            font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-size: var(--font-size-signin-button);
            padding: 1rem 5rem;
            border-radius: 5px;
            border: none;
            color: var(--font-color-signin-button);
            background-color: var(--background-color-signin-button);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            margin-top: 2rem;
            transition: 0.7s;

            &:hover {
                background-color: var(--background-color-signin-button-hover);
            }
        }
    }
}