@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');


:root {
    /* Paleta de cores */

    --cor1: #000000;
    --cor2: #ffffff;
    --cor3: #cdcdcd;
    --cor4: #673ab7;
    --cor5: #522e93;


    --cor6: #F8F9FA;
    --cor7: #E9ECEF;
    --cor8: #DEE2E6;
    --cor9: #CED4DA;
    --cor10: #ADB5BD;
    --cor11: #6C757D;
    --cor12: #495057;
    --cor13: #343A40;
    --cor14: #212529;
    /* Paleta de cores */

    /* Variáveis Sign-up */

    /* html */

    --font-size-signup-html: 62.5%;

    /* Body */

    --background-color-signup-body: #DEE2E6;

    /* Formulário */

    --background-color-signup-form: #F8F9FA;
    --font-color-signup-form-p: #212529;
    --font-size-signup-form-p: 2.25rem;

    /* Label */

    --font-size-signup-label: 1.5rem;
    --font-color-signup-label: #212529;

    /* Input */

    --background-color-input: #DEE2E6;
    --font-size-signup-input: 1.5rem;
    --font-color-signup-input: #212529;
    --font-color-signup-input-focus: #673ab7;
    --font-color-signup-input-placeholder: #495057;
    --font-size-signup-input-focus: 1.5rem;
    --outline-signup-input-focus: 1px solid #673ab7;
    --font-size-signup-input-placeholder: 1.5rem;

    /* Botão */

    --background-color-signup-button: #673ab7;
    --background-color-signup-button-hover: #522e93;
    --font-color-signup-button: #ffffff;
    --font-size-signup-button: 1.7rem;

    /* Variáveis Sign-up */
}