@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');





:root {
    /* Paleta de cores */

    --cor1: #000000;
    --cor2: #ffffff;
    --cor3: #cdcdcd;
    --cor4: #673ab7;
    --cor5: #522e93;


    --cor6: #F8F9FA;
    --cor7: #E9ECEF;
    --cor8: #DEE2E6;
    --cor9: #CED4DA;
    --cor10: #ADB5BD;
    --cor11: #6C757D;
    --cor12: #495057;
    --cor13: #343A40;
    --cor14: #212529;
    /* Paleta de cores */

    /* Variáveis Sign-up */

    --background-color-signup: rgb(225, 225, 225);
    --background-color-form-signup: rgb(247, 252, 255);

    /* Botão */

    --background-color-button: var(--cor4);
    --background-color-button-hover: var(--cor5);
    --color-button: var(--cor2);
    --font-size-button: ;

    /* Variáveis Sign-up */
}

.dark-theme {}